
@model List<EntityLayer.Concrete.Message>
@{
    ViewBag.Title = "SendBox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesaj Sayfası</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        @Html.Action("SideBarMessage", "Contact")

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Gönderilen Mesajlar</h3>

                    <div class="card-tools">
                        <form method="get">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" name="searchmail" placeholder="Mail kutusunda ara...">
                                <button type="submit" class="btn btn-sm btn-primary">Ara</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    
                        <div class="float-right">
                            Toplam Mail Sayısı: @ViewBag.totalmessage

                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check1">
                                                <label for="check1"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                        <td class="mailbox-name"><a href="/Message/ReadMail/@item.ID/">@item.ReceiverMail</a></td>
                                        <td class="mailbox-subject">
                                            <span>@item.Subject</span>                                           
                                            <span><a href="/Message/ReadMail/@item.ID/" class="badge badge-info">Mesajı Gör</a></span>
       
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    
    <!-- /.row -->
</section>

