
@model List<EntityLayer.Concrete.Message>


@{
    ViewBag.Title = "Trash";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mesaj Sayfası</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        @Html.Action("SideBar", "WriterPanelMessage")

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Çöp Kutusu</h3>

                    <div class="card-tools">
                        <form method="get">
                            <div class="input-group input-group-sm">

                                <input type="text" class="form-control" name="searchmail" placeholder="Mail kutusunda ara...">
                                <button type="submit" class="btn btn-sm btn-primary">Ara</button>

                            </div>
                        </form>

                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="mailbox-controls">


                        <div class="float-right">
                            Toplam Mail Sayısı: @ViewBag.totalmail

                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check1">
                                                <label for="check1"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                        <td class="mailbox-name"><a href="/WriterPanelMessage/ReadMail/@item.ID/">@item.SenderMail</a></td>
                                        <td class="mailbox-subject">
                                            @if (item.IsRead == true)
                                            {
                                                <span>@item.Subject</span>
                                            }
                                            else
                                            {
                                                <b>@item.Subject</b>
                                            }

                                            @*@if (item.Content.Length < 50)
                                                {
                                                    <span>@item.Content</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Content.Substring(0, 50)...</span>
                                                }*@
                                            <span><a href="/WriterPanelMessage/ReadMail/@item.ID/" class="badge badge-info">Mesajı Gör</a></span>
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

